{% extends "base.html" %}
{% block title %}
    Add Review
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <h3>!</h3>
        <h3>!</h3>
        <h3>!</h3>
        <h3>Add a new review</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.content.label_tag }}
            {{ form.content }}
            {{ form.rating.label_tag }}
            {{ form.rating }}
            {% comment %}  {{ form.country.label_tag }}
           {{ form.country }}
            <div class="form-group">
                <label>{{ form.categories.label_tag }}</label>
                {% for category in form.categories %}<div class="form-check">{{ category }}</div>{% endfor %}
            </div> {% endcomment %}
            <button type="submit" class="btn btn-primary mt-3">Add Review</button>
        </form>
    </div>
{% endblock content %}
