{% load static %}
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            {% comment %}  <div class="hover-content">
                <ul>
                    <li>
                        <a href="single-product.html"><i class="fa fa-eye"></i></a>
                    </li>
                    <li>
                        <a href="single-product.html"><i class="fa fa-star"></i></a>
                    </li>
                    <li>
                        <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div> {% endcomment %}
            <img src="{% static "images/default.jpg" %}" alt="">
        </div>
        <div class="down-content">
            <h6>title:</h6>
            <h5>{{ book.title }}</h5>
            {% if genre %}
                <h3>genres:</h3>
                {% for gen in book.genre %}<h3>{{ gen }}</h3>{% endfor %}
            {% else %}
            {% endif %}
            <a href="{% url 'book:details' pk=book.pk %}" class="btn btn-primary">Details</a>
            <ul class="stars">
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
