{% load static %}
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url "index.html" %}" class="logo">
                        <img src="{% static "images/logo.png" %}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section">
                            <a href="#top" class="active">Home</a>
                        </li>
                        <li class="scroll-to-section">
                            <a href="#men">Men's</a>
                        </li>
                        <li class="scroll-to-section">
                            <a href="#women">Women's</a>
                        </li>
                        <li class="scroll-to-section">
                            <a href="#kids">Kid's</a>
                        </li>
                        <li class="scroll-to-section">
                            <a href="#explore">Explore</a>
                        </li>
                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
